.MessageList
    // display: flex
    // justify-content: center
    &__box
        margin-top: 50px
    &__chat
        // margin-left: 50px
        outline: 3px solid #619dd9
        padding: 10px
        border-radius: 3px
        height: 400px
        display: flex
        flex-direction: column
        justify-content: flex-end
        width: 300px
        overflow: auto
    &__h
        width: 300px
        margin-bottom: 30px
        color: #1976d2
        text-align: center
    &__text
        font-size: 21px
        color: #ffffff
        width: 280px
        background-color: #619dd9
        padding: 5px 10px
        border-radius: 3px
        margin-bottom: 10px
    &__author
        color: #dedede
